# mvn
target/
assembly/

# gradle
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties

# idea
*.iml
idea
.idea
.idea-modules
node_modules/
webpack.generated.js

# spring
application-LOCAL.properties

# logs
*.log
*.tmp
*.log.*.gz
*.gz

*package-lock.json